#include "inquiry_scan_autogen.h"
#include "btc_device.h"
#include "state_machine.h"

{% macro generate_sm_lut(state_details) %}
{% for state in list_states %}
    {% for trigger in list_triggers %}
    {{ state_details[state][trigger] }},//![{{ state }}][{{ trigger }}]
    {% endfor%}
{% endfor%}
{% endmacro %}

/*Page State Machine Handlers*/

sm_trigger_handler_t inquiry_scan_trigger_handler_lut[] = 
{
    {{ generate_sm_lut(state_details) -}}
};

sm_t inquiry_scan_sm_cb = {
    "inquiry_scan_sm",
    INQUIRY_SCAN_SM_STATE_MAX,
    INQUIRY_SCAN_SM_TRIGGER_MAX,
    INQUIRY_SCAN_IDLE_STATE,
    inquiry_scan_trigger_handler_lut
};