#include "page_autogen.h"
#include "btc_device.h"


{% for state in list_states %}
static void {{ sm_name }}_{{ state }}_handler(sm_t *page_sm_cb, uint8_t trigger);
{% endfor %}



void {{ sm_name }}_handler(sm_t *page_sm_cb, uint8_t trigger)
{
    switch(page_sm_cb->current_state)
    {
{% for state in list_states %}
        case {{ state }}:
            {{ sm_name }}_{{ state }}_handler(page_sm_cb, trigger);
        break;
{% endfor %}
        default:
            sm_assert(page_sm_cb, trigger);
        break;
    }
}

{% for state in list_states %}
static void {{ sm_name }}_{{ state }}_handler(sm_t *page_sm_cb, uint8_t trigger)
{
    switch(trigger)
    {
{% for trigger in state_details_orig[state].keys() %}
        case {{ trigger }}:
            {{ state_details_orig[state][trigger] }}(page_sm_cb, trigger);
        break;
{% endfor %}
        default:
            sm_assert(page_sm_cb, trigger);
        break;
    }
}
{% endfor %}