#include "procedure_triggers_autogen.h"
#include "{{ sm_name }}_autogen.h"
#include "state_machine.h"

/*{{ sm_name }} Handlers*/
sm_trigger_handler_t {{ sm_name }}_trigger_handler_entries[] = 
{
{% for handler in hashed_details["hashed_entries"] %}
    {{ handler }},
{% endfor%}
};

uint8_t {{ sm_name }}_trigger_handler_entries_bitmap[] = 
{
{% for bitmap in hashed_details["hashed_entries_bitmap"] %}
    {{ bitmap }},
{% endfor%}
};

uint8_t {{ sm_name }}_trigger_handler_entries_count[] = 
{
{% for count in hashed_details["hashed_entries_count"] %}
    {{ count }},
{% endfor%}
};
sm_t {{ sm_name }} = {
#ifdef SIM
    "{{ sm_name }}",
#endif
    {{ sm_name }}_state_max,
    {{ sm_name }}_idle,
    {{ sm_name }}_trigger_handler_entries,
    {{ sm_name }}_trigger_handler_entries_bitmap,
    {{ sm_name }}_trigger_handler_entries_count
};